<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chats</title>
</head>
<body>
    <h1>Add New chats in DB!</h1>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="who are you ?"><br><br>
        <textarea name="message" id="" placeholder="write your message..." rows="7" cols="25"></textarea><br><br>
        <input type="text" name="to" placeholder="Receiver name"><br><br>
        <button>Add Chat</button>
    </form>
</body>
</html>